/************************************
General
*************************************/
a {
    text-decoration: none;
}

body{
    font-family: 'open oswald', sans-serif;
}

#Wrapper {
   max-width: 940px;
   margin: 0 auto;
   padding: 0 5%;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

#logo{
  text-align: center;
  margin: 0;
}

header{
  float:left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

h1{
font-family: 'Oswald', sans-serif;
margin: 15px;
font-size: 1.75em;
}

h2{
    font-size: 0.95em;
    margin: -5px 0 0;
    font-weight: normal;
}

/************************************
Contact Page
*************************************/
.contact-info li.newsletter a{
  background-image: url('../image/gmail.png')  
}




/************************************
Navigation
*************************************/
nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul{
    list-style: none;
    padding: 10px;
    margin: 20px 0 0;
}

nav li{
    display: inline-block;
}

nav a{
    font-weight: 800;
    padding: 15px 10px;
}

/************************************
Footer
*************************************/
footer{
    font-size: 0.95em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
}

.social-media-icon{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}

/************************************
Page Portfolio
*************************************/
#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
        float: left;
        width: 45%;
        margin: 2.5%;
        background-color: #2a7a1d;
        color: #bdc3c7;
    }
    #gallery li a p {
        margin: 0;
        padding: 5%;
        font-size: 0.75em;
        color: #000
        
    }
  
/************************************
About me page porfolio
*************************************/
.portfolio-photo{
    display: block;
    max-width:0 auto 30px;
    border-radius: 35%;
}



/************************************
Color
*************************************/
body{
 background-color: white;
 color: #999;
}

a{
    color: #2a7a1d;
}

header{
    background: #2a7a1d;
}

h1, h2{
    color: #fff;
}

nav{
    background: #599a68;
}

nav a, nav a :visited{
    color: #fff;
}

nav a.selected, nav a:hover{
    color: #32673f;
}

/************************************
Media Querie
*************************************/
@media screen and (min-width: 480px){
    #primary{
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
}